ic {
    font-family: monospace;
    background-color: #eee;
    display: inline-block;
    border-radius: 0.2em;
}

hl {
    background-color: #d9ffb3;
    color: #264d00;
}

del {
    background: #fff2e6;
    text-decoration: line-through;
}

pre {
    background-color: #eee;
    margin-top: 1em !important; 
    max-height: 50em;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.tocke {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0;
    border-radius: 6px;
    background-color: #d9ffb3;
    color: #264d00;
    font-weight: bold;
} 

.wrap {
    white-space: pre-wrap;      
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap;     
    white-space: -o-pre-wrap;   
    word-wrap: break-word;       
}

tr:nth-child(even){
    background-color: rgb(248, 248, 248);
}
